<style>
    .open {
        display: block !important;
    }
</style>
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/admin-theme/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul
                class="list-unstyled navbar__list <%= (request_url == 'manage_plans' || request_url == 'add_plan') ?'open':''; %>">
                <li class="<%= (request_url == 'dashboard') ?'active':''; %>">
                    <a href="/dashboard/show-dashboard">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="<%= (request_url == 'charts') ?'active':''; %>">
                    <a href="/charts/show-charts">
                        <i class="fas fa-chart-bar"></i>Charts</a>
                </li>
                <li class="<%= (request_url == 'sales') ?'active':''; %>">
                    <a href="/sales/all-sales">
                        <i class="fas fa-chart-bar"></i>Sales</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-table"></i>Plans</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_plans' || request_url == 'add_plan') ?'open':''; %>">
                        <li class="<%= (request_url == 'manage_plans') ?'active':''; %>">
                            <a href="/plans/all-plans"><i class="fas fa-circle-o"></i>Manage Plans</a>
                        </li>
                        <li class="<%= (request_url == 'add_plan') ?'active':''; %>">
                            <a href="/plans/add-plan"><i class="fa fa-circle-o"></i>Add Plans</a>
                        </li>
                    </ul>
                </li>
                <% if(role == 'superadmin'){ %>
                <li class="has-sub">
                    <a class="js-arrow <%= (request_url == 'manage_users' || request_url == 'add_user') ?'open':''; %>"
                        href="#">
                        <i class="fas fa-copy"></i>Users</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_users' || request_url == 'add_user') ?'open':''; %>">
                        <li class="<%= (request_url == 'manage_users') ?'active':''; %>">
                            <a href="/users/all-users"><i class="fas fa-circle-o"></i>Manage Users</a>
                        </li>
                        <!-- <li class="<%= (request_url == 'add_user') ?'active':''; %>">
                            <a href="/users/add-user">Add User</a>
                        </li> -->
                    </ul>
                </li>
                <% } else{ %>
                <% } %>
                <li class="has-sub">
                    <a
                        class="js-arrow <%= (request_url == 'manage_services' || request_url == 'add_service') ?'open':''; %>">
                        <i class="fas fa-desktop"></i>Services</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_services' || request_url == 'add_service') ?'open':''; %>">
                        <li class="<%= (request_url == 'manage_services') ?'active':''; %>">
                            <a href="/services/all-services"><i class="fas fa-circle-o"></i>Manage Services</a>
                        </li>
                        <li class="<%= (request_url == 'add_service') ?'active':''; %>">
                            <a href="/services/add-service"><i class="fas fa-circle-o"></i>Add Service</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow <%= (request_url == 'manage_pages' || request_url == 'add_page') ?'  open':''; %>"
                        href="#">
                        <i class="fas fa-copy"></i>Content Management</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_pages' || request_url == 'add_page') ?'open':''; %>">
                        <li class="<%= (request_url == 'manage_pages') ?'active':''; %>">
                            <a href="/cms/all-pages"><i class="fas fa-circle-o"></i>Manage Pages</a>
                        </li>
                        <li class="<%= (request_url == 'add_page') ?'active':''; %>">
                            <a href="/cms/add-page"><i class="fas fa-circle-o"></i>Add Page</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow <%= (request_url == 'manage_orders') ?'open':''; %>" href="#">
                        <i class="fas fa-table"></i>Orders</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_orders') ?'open':''; %>">
                        <li class="<%= (request_url == 'manage_orders') ?'active':''; %>">
                            <a href="/orders/all-orders"><i class="fas fa-circle-o"></i>Manage Orders</a>
                            <!-- <a href="/orders/fetchOrders"><i class="fas fa-circle-o"></i>Manage Orders</a> -->
                        </li>

                        <li class="<%= (request_url == 'fulfillment_orders') ?'active':''; %>">
                            <a href="/orders/fulfillment_orders"><i class="fas fa-circle-o"></i>Fulfillment Orders</a>
                        </li>

                        <li class="<%= (request_url == 'refunds') ?'active':''; %>">
                            <a href="/refunds/show-refunds">
                                <i class="fas fa-chart-bar"></i>Order Refunds</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow <%= (request_url == 'product_search' || request_url == 'manage_products' || request_url == 'add_product') ?'active':''; %>"
                        href="#">
                        <i class="fas fa-desktop"></i>Products</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'product_search' || request_url == 'manage_products' || request_url == 'add_product') ?'open':''; %>">
                        <li class="<%= (request_url == 'product_list') ?'active':''; %>">
                            <a href="/products/list-products"><i class="fas fa-circle-o"></i>List Products</a>
                        </li>
                        <li class="<%= (request_url == 'product_fees') ?'active':''; %>">
                            <a href="/products/check-fees"><i class="fas fa-circle-o"></i>Product Fees</a>
                        </li>
                        <li class="<%= (request_url == 'product_charges') ?'active':''; %>">
                            <a href="/products/check-charges"><i class="fas fa-circle-o"></i>Product Charges</a>
                        </li>
                        <li class="<%= (request_url == 'product_stock') ?'active':''; %>">
                            <a href="/products/check-stock"><i class="fas fa-circle-o"></i>Check Stocks</a>
                        </li>
                        <li class="<%= (request_url == 'product_search') ?'active':''; %>">
                            <a href="/products/product-search"><i class="fas fa-circle-o"></i>Product Finder</a>
                        </li>

                        <!-- <li class="<%= (request_url == 'manage_products') ?'active':''; %>">
                            <a href="/products/all-products"><i class="fas fa-circle-o"></i>Manage Products</a>
                        </li> -->
                        <li class="<%= (request_url == 'add_product') ?'active':''; %>">
                            <a href="/products/add-product"><i class="fas fa-circle-o"></i>Add Product</a>
                        </li>
                        <li class="<%= (request_url == 'reimbursements') ?'active':''; %>">
                            <a href="/products/reimbursements"><i class="fas fa-circle-o"></i>Reimbursements</a>
                        </li>
                        <li class="<%= (request_url == 'skuprofitability') ?'active':''; %>">
                           <a href="/products/skuprofitability"><i class="fas fa-circle-o"></i>SKU Profitability</a>
                        </li>
                    </ul>
                </li>


                <!-- <li class="has-sub">
                    <a class="js-arrow <%= (request_url == 'inventory') ?'open':''; %>" href="#">
                        <i class="fas fa-table"></i>Inventory</a>
                    <ul
                        class="list-unstyled navbar__sub-list js-sub-list <%= (request_url == 'manage_orders') ?'open':''; %>">
                        <li class="<%= (request_url == 'inventory_search') ?'active':''; %>">
                            <a href="/inventory/afnData"><i class="fas fa-circle-o"></i>AFN Inventory data</a>
                        </li>
                    </ul>
                </li> -->
                <!-- <% if(role == 'superadmin'){ %>
                <li class="<%= (request_url == 'refunds') ?'active':''; %>">
                    <a href="/refunds/show-refunds">
                        <i class="fas fa-chart-bar"></i>Refunds</a>
                </li>
                <% } else{ %>
                <% } %> -->


                <!-- <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>Amazon</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/amazon-Login">Amazon login</a>
                        </li>
                    </ul>
                </li> -->

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
<script>
    $(document).on('click', '.js-arrow', function () {
        if ($('.js-sub-list').hasClass('open')) {
            $('.js-sub-list').removeClass('open')
        }
    })
</script>