<%- contentFor('content') %>
    <div class="row">
        <div class="col-md-12">
                    <div class="flash-msg">
                        <% include ../partials/messages %>
                    </div>
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">All Pages</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
              
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
         
                                <div class="dropDownSelect2"></div>
                            </div>
      
                        </div>
                        <div class="table-data__tool-right">
                            <a href="/cms/add-page" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add Page</a>

                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2" id="pagesTable">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Name</th>
                                    <th>Page Slug</th>
                                    <th>Description</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% pages.forEach((page) => { %>
                                    <tr class="tr-shadow">
                                        <td></td>
                                        <td>
                                            <%= page.name %>
                                        </td>
                                        <td>
                                            <%= page.PageSlug %>
                                        </td>
                                        <td>
                                            <%= page.content %>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" href="/cms/edit-page/<%= page._id %>" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" href="/cms/delete-page/<%= page._id %>" data-placement="top" title="Delete" data-toggle="modal" id="#deleteButton" onclick="return confirm('Are you sure?')">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $('.alert-danger, .alert-success').css('top' , '24px');
            setTimeout(function(){
            $('.alert-danger, .alert-success').hide();}, 3000);

            var t = $('#pagesTable').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [
                    [1, 'asc']
                ]
            });

            t.on('order.dt search.dt', function() {
                t.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function(cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });
    </script>